h1{
    text-align: center;
    margin-top: 0;
    background-color: coral;
}

.wrapper {
    margin: 15px auto;
    max-width: auto;
    padding: 20px;
    background-color: antiquewhite;
}

.calendar-image{
    width: 100%;
    height: auto;
    max-width: 500px; /* Set maximum width */
    max-height: 400px;
    min-width: 200px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
/* Media queries for different screen sizes */

@media only screen and (max-width: 768px) {
  /* Styles for smaller screens (e.g., mobile devices) */
  .calendar-image {
    width: 80%; /* Adjust width for smaller screens */
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Styles for medium screens (e.g., tablets) */
  .calendar-image {
    width: 70%; /* Adjust width for medium screens */
  }
}

@media only screen and (min-width: 992px) {
  /* Styles for larger screens (e.g., desktops) */
  .calendar-image {
    /* Use default styles or adjust further for larger screens */
  }
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: red solid 3px;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}
